<div class="container" style="width:800px; padding-top: 2%;">
    <div class="container" align="center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Please Enter Your Information
                </mat-card-title>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <br><br>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Name</mat-label>
                <input matInput type="text">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Roll No.</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:660px;">
                <mat-label>Email</mat-label>
                <input matInput type="email">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:660px;">
                <mat-label>Phone No.</mat-label>
                <input matInput type="tel">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Attendance</mat-label>
                <input matInput type="text">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>CGPA</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Class</mat-label>
                <input matInput type="text">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Department</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="CreateProfile()">Next</button>
        </mat-card>
    </div>
</div>