<div class="container" style="width:800px; padding-top: 5%;">
    <div class="container" align="center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Please Enter Your Information
                </mat-card-title>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <br><br>
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>First Name</mat-label>
                <input matInput type="text">
            </mat-form-field> &nbsp; &nbsp;
            <mat-form-field appearance="outline" style="width:320px;">
                <mat-label>Last Name</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:660px;">
                <mat-label>Subject</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:660px;">
                <mat-label>Designation</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:660px;">
                <mat-label>Email</mat-label>
                <input matInput type="email">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Next</button>
        </mat-card>
    </div>
</div>